:root {
    --herog: #1F2937;
    --hero: #FFFFFF;
    --heros: #E5E7EB;
    --herot: #88898c;
    --herob: #00AEF0;
    --heroc: #129bf2;
    --herod: #f77d7a;
    --heroi: #1F2937;

    
}

/* --ds-font-family-display:  */
/* linear-gradient(166deg, #129bf2 7%, #f77d7a 92%) */

/* 
18px secondary, header link (heros)

button (herob)
*/

/* * {
    padding: 0;
    margin: 0;
    border: 0;
} */

html {
    font-family: Roboto "Roboto Condensed" "Bebas Neue";
}

head {
    
}

body {
    margin: 0;
    padding: 0;
    border: 0;

    display: flex;
    /* Three items: header middle footer */
    flex-flow: column nowrap; 
    align-items: stretch;
    /* justify-content: center; */
    gap: 0;
    box-sizing: border-box;
}

.header {
    flex-shrink: 0;
    height: 60px;
    line-height: 63px;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    
    display: flex; 
    align-items: center;
    justify-content: space-between;

    background-color: var(--herog);
    }

.header-logo {
    display: flex;
    color: var(--hero);
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    padding: 0 60px;
    margin: 0;
}

.header-links {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    list-style-type: none;
    color: var(--heros);
    font-size: 16px;
    line-height: 26px;
    font-weight: lighter;
    text-decoration: none;
    padding: 0 20px 0 0;

}

.middle {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;

}

.section-one {
    flex: 1;
    background-color: var(--herog);
    color: var(--hero);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    padding: 0; 
    margin: 0;
    gap: 50px;
}

.intro {
    display: flex;
    flex-flow: column nowrap;
    align-content: centre;
    min-width: 250px;
    padding: 40px 0 60px 80px;
}

.intro-header {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 48px;
    line-height: 50px;
    font-weight: extra-bold;
    display: flex;
    align-self: center;
}

.intro-description {
    display: flex;
    max-width: 560px;
}

.top-button {
    width: 120px;
    height: 46px;
    border: 5px solid var(--hero);
    border-radius: 12px;
    border-style: outset;
    /* shadow-border: 0 1px 5px 0; */
    /* padding: 10px 20px; */
    color: var(--hero);
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(166deg, var(--heroc) 7%, var(--herod) 92%);
    margin: 8px 0 0 80px;
}

#card-dark {
    /* flex-shrink: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    min-width: 300px;
}

.section-two {
    flex: 1;
    background-color: var(--hero);
    color: var(--heroi);
    list-style-type: none;
    /* height: 300px; */
    min-width: 600px;
    padding: 0 80px 0 80px;
    margin-right: 80px;
    display: flex;
    flex-flow: column nowrap;
    /* two items: header and (row of) cards */
    align-items: center;
    /* justify-content: center; */
}

.card-list {
    /* flex: 1; */
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 20px;
}

.cards {
    /* width: 100px; */
    font-size: xx-small;
    font-weight: lighter;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.card-image {
    border: 5px solid var(--herob);
    border-radius: 20px;
    padding: 30px;
    /* width: 100px;
    height: 120px; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.card-text {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    max-width: 130px;
    /* padding: 0 20px 0 32px; */
}

.section-three {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    background-color: var(--heros);
    color: var(--heroi);
    min-height: 160px;
    min-width: 340px;
    padding: 50px 100px 50px 100px; 
}

#testimonial-quote-thor {
    display: flex;
    font-size: 24px;
    line-height: 26px;
    font-weight: 100;
    font-style: italic;
    padding: 0;
    margin: 0 0 0 40px;
    }

#testimonial-name-thor {
    /* flex-shrink: 0;*/
    /* float: right; */
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0 40px 0 0;
    align-self: flex-end;
}

.section-four {
    flex: 1;
    background-image: linear-gradient(166deg, var(--heroc) 7%, var(--herod) 92%);
    color: var(--hero);
    /* height: 300px; */
    margin: 40px 80px;
    border: 5px solid var(--hero);
    border-radius: 20px;
    padding: 40px 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-width: 480px;
    
  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */

}

.action {
    /* flex: 1; */
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
    padding: 0;
    margin: 0 auto 0 0;
    max-width: 100;
}

#call {
    display: flex;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

#sign {
    display: flex;
    padding: 0;
    margin: 0;
}

.bottom-button {
    flex-shrink: 0;
    background-color: var(--hero);
    color: var(--herob);
    border: 10px solid var(--herob);
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 160px;
    height: 60px;
}

.footer {
    flex-shrink: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--herog);
    color: var(--hero);
}


